:root {
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 16px;
    --spacing-xl: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #230042;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calculator-full-screen {
    width: 265px;
    height: 417px;
    background-color: #003e7a;
}